.testimonial__content h2 {
    font-weight: 600;
    align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end;
    
  }

.img{
    backface-visibility: hidden;
    background-image: none;
    background-color: white;
    -moz-backface-visibility: hidden;
    background-attachment: fixed;
    visibility: collapse;
    color-scheme: white;
    transition-property: all;
}